{% extends "base.html.j2" %}
{% block obsah %}
<p class="centering">
<img src="{{url_for('static', filename='arnold.jpg')}}">
</p>
<p class="hlavnitext">
Musím tě na tomhle místě zastavit, neboť se vydáváš do neznámých končin.
</p>
<br>
{% endblock obsah %}