{% extends "base.html.j2" %}

{% block obsah %}
<div class="zluta">
<br>
<h1 class="centering">
Banány...
</h1>
<p class="centering">
<iframe src="https://player.vimeo.com/video/428969637" width="1500" height="843.75" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</p>
<p class="hlavnitext">
Zde jest měl ležet odkaz na yt, ale kvůli nastavení hudby, které znemožňovalo video pustit, jsem zde hodil odkaz na vimeo.
</p>
<br>
</div>
{% endblock obsah %}