<!DOCTYPE html>
<html lang="cs">
<head>
  <title>Feelův web: {{title}}</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{{url_for('index')}}">Feelův web</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('info')}}">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{url_for('kvetak')}}">Květák</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{url_for('kapusta')}}">Kapusta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{url_for('banany')}}">Banány</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="{{url_for('formulky')}}">Kalkulačka</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Dark web</a>
      </li>
    </ul>
  </div>
  <span class="navbar-text">
      {% if session["user"] %}
      Uživatel: {{session['user']}}
      <a class="btn btn-dark" href="{{url_for('logout')}}">Odhlášení</a> 
      {% else %}
      <a class="btn btn-dark" href="{{url_for('login')}}">Login</a>
      <a class="btn btn-dark" href="{{url_for('register')}}">Register</a>
      {% endif %}
    </span>
</nav>
<a name="top"></a>

{% block obsah %}
<div class="container">
  <h2 class="rainbow">Toto je hlavní strana</h2>
</div>

{% endblock obsah%}

<footer>
<div class="centering">
  <a class="bocnitext" href="#top">Zpátky nahoru</a>
</div>
<br>
</footer>

</body></html>
