{% extends "base.html.j2" %}

{% block obsah %}

<div class="hlavnitext">
<p>Úvodní stránku jsem si dovolil nechat, neboť se může hodit pro kopírování a inspiraci.<br>
Vše co je tu vytvořené je změť různých zkoušení. <br>
Použil jsem bootstrap pro vytvoření navbaru a vyhrabal jsem na počítači svoji závěrečnou práci z html, odkud jsem ukradl pár řádků css</p>
</div>

{% endblock obsah %}

