{% extends "base.html.j2" %}

{% block obsah %}
<div class="centering">
<p class="hlavnitext">Není tu nic k vidění. Jen silnější zabavuje slabšímu stránku...</p>
<img src="{{url_for('static', filename='zelí.png')}}">
<p class="hlavnitext">Zelí > Kapusta</p>
</div>
{% endblock obsah %}