<head>
<link rel="stylesheet" href="{{url_for('static', filename='loginstyle.css')}}">
</head>


<form action="{{url_for('login')}}" method="POST">
  <h1>Velmi pěkný login:</h1>
  <div class="inset">
  <p>
    <label for="email">Jméno</label>
    <input type="text" name="username">
  </p>
  <p>
    <label for="password">Heslo:</label>
    <input type="password" name="password">
  </p>
  <p>
    {{error}}
  </p>
  </div>
  <p class="p-container">
    <span><a href="{{url_for('index')}}">Zpět home</a></span>
    <input type="submit" value="Přihlášení">
  </p>
</form>
